<img tabindex="2" src="{{imageUrl}}" alt="Image of the box for {{name}}">
<div>
    <h2 tabindex="2">{{name}} ({{year}})</h2>
    <h2 tabindex="2">Rating: {{rating}}/10</h2>
    <h2 tabindex="2">Complexity: {{complexity}}/5</h2>
    <h2 tabindex="2">Player Count: {{playerCountMin}}-{{playerCountMax}}</h2>
    <h2 tabindex="2">Play Time: {{playTime}} minutes</h2>
    <p tabindex="2">{{desc}}</p>
</div>